/* HORIZONTAL SERVER LIST BY PURPLE WIZARD */

.base-3dtUhz {
	z-index: 1 !important;
	position: absolute !important;
	top: calc(15px + 10px * var(--ServerColumns) + var(--ServerSize) * var(--ServerColumns)) !important;
	left: 0 !important;
}

.platform-osx .base-3dtUhz {
	top: calc(57px + var(--ServerSize) * var(--ServerColumns)) !important;
}

.root-SR8cQa {
	width: calc(100vw - 265px) !important;
	top: calc(48px + var(--ServerSize) * var(--ServerColumns)) !important;
}

#app-mount:before {
	content: "" !important;
	position: absolute !important;
	top: 22px !important;
	left: 0 !important;
	right: 0 !important;
	background: var(--TitleBG) !important;
	height: calc(15px + 10px * var(--ServerColumns) + var(--ServerSize) * var(--ServerColumns)) !important;
}

.guilds-1SWlCJ {
	background: transparent !important;
	padding-top: .25em !important;
	width: 100% !important;
	position: unset !important;
	height: 100% !important;
	width: 100% !important;
}

.guilds-1SWlCJ .scroller-2TZvBN {
	display: flex !important;
}

#app-mount .wrapper-21YSNc [role=group] a.wrapper-1BJsBx>.icon-27yU2q {
	width: calc(var(--ServerSize) - 10px) !important;
	height: calc(var(--ServerSize) - 10px) !important;
}

.expandedFolderBackground-2sPsd- {
	border-radius: .25em 0 0 .25em !important;
}

.expandedFolderBackground-2sPsd-.collapsed-1GMuSb {
	border-radius: .25em !important;
}

.guilds-1SWlCJ .scroller-2TZvBN .listItem-2P_4kh div[class*='pill'], .tutorialContainer-SGrQ1h .pill-3YxEhL {
	height: 5px !important;
	top: -7px !important;
	left: 0px !important;
	width: 100% !important;
	transform: none !important;
	border-radius: .5em !important;
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar {
	width: .75rem !important;
}

div[data-ref-id="guildsnav"]::-webkit-scrollbar-thumb {
	border-radius: 2.5px 0 0 2.5px !important;
}

div[data-ref-id="guildsnav"]>div:first-child {
	margin-left: 0 !important;
}

div[data-ref-id="guildsnav"]>.listItem-2P_4kh, div[data-ref-id="guildsnav"]>.wrapper-21YSNc {
	margin: 10px 0 5px 5px !important;
	max-height: var(--ServerSize) !important;
}

div[data-ref-id="guildsnav"]>.wrapper-21YSNc {
	border-radius: .25em !important;
}

#app-mount .wrapper-21YSNc {
	width: auto !important;
	display: flex !important;
	align-items: center !important;
	margin-bottom: 0 !important;
}

#app-mount .wrapper-21YSNc [role=group] {
	display: flex !important;
	align-items: center !important;
	height: auto !important;
	border-radius: 0 .25em .25em 0 !important;
}

.guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2TZvBN>.tutorialContainer-1v44GL, .guilds-1SWlCJ .scrollerWrap-1IAIlv .scroller-2TZvBN>.tutorialContainer-SGrQ1h, .guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2TZvBN>div:last-child {
	background-color: transparent !important;
}

/* PMs */

.tutorialContainer-1v44GL {
	margin: 10px 0 0px 5px !important;
	max-height: var(--ServerSize) !important;
	order: 0 !important;
}

.tutorialContainer-SGrQ1h {
	margin-left: 5px !important;
}

.guilds-1SWlCJ .scrollerWrap-1IAIlv, .guilds-1SWlCJ>.scrollerWrap-1IAIlv>.scroller-2TZvBN {
	display: flex !important;
	contain: unset !important;
	width: 100% !important;
	height: calc(20px + var(--ServerSize)) !important;
}

.expandedFolderIconWrapper-1xLaU- {
	width: 100% !important;
	height: 100% !important;
}

.expandedFolderBackground-2sPsd- {
	min-height: var(--ServerSize) !important;
	top: 0 !important;
	left: 0 !important;
	bottom: 0 !important;
}

.guilds-1SWlCJ>.scrollerWrap-2lJEkd>.scroller-2TZvBN>.listItem-2P_4kh {
	background-color: var(--grey) !important;
	margin-left: 5px !important;
	border-radius: .35em !important;
}

#app-mount .guilds-1SWlCJ .scroller-2TZvBN>div[style*="opacity: 1;"]:first-child {
	margin: 10px 5px 0 5px !important;
}

.tutorialContainer-SGrQ1h+.listItem-2P_4kh .pill-3YxEhL .wrapper-sa6paO, .tutorialContainer-SGrQ1h .pill-3YxEhL .wrapper-sa6paO, .item-2hkk8m {
	height: 5px !important;
	width: 100% !important;
	margin: 0 !important;
}

.unreadMentionsIndicatorTop-gA6RCh {
	padding: 0 !important;
	height: 20px !important;
	width: var(--ServerSize) !important;
	left: 15px !important;
	top: calc(15px + var(--ServerSize)) !important;
}

#app-mount .guilds-1SWlCJ .scroller-2TZvBN>div[style*="opacity: 1;"]:not(:first-child) {
	margin: 10px 0 0 5px !important;
	order: 1 !important;
}

.tutorialContainer-SGrQ1h, .tutorialContainer-SGrQ1h+.listItem-2P_4kh {
	order: 2 !important;
}

#app-mount [data-ref-id=guildsnav] {
	display: flex !important;
	flex-wrap: wrap !important;
	height: calc(10px + 10px * var(--ServerColumns) + var(--ServerSize) * var(--ServerColumns)) !important;
	overflow-y: auto !important;
	order: 3 !important;
	width: 100% !important;
	justify-content: center !important;
}

.guilds-1SWlCJ .scroller-2TZvBN>.listItem-2P_4kh:first-child+.listItem-2P_4kh:not([style]), .guilds-1SWlCJ .scroller-2TZvBN>div[style]:not(.listItem-2P_4kh)+.listItem-2P_4kh {
	height: var(--ServerSize) !important;
}

#bd-pub-li {
	margin: 10px 0 0 5px !important;
	overflow: hidden !important;
	min-width: var(--ServerSize) !important;
	width: var(--ServerSize) !important;
	height: var(--ServerSize) !important;
}

#bd-pub-button {
	border-radius: .25em !important;
	background: url("https://goldenlys.github.io/ThemeGen/img/public.png") !important;
	color: #ffffff !important;
	font-size: 12px !important;
	background-size: 90% 90% !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}

.unreadMentionsIndicatorBottom-BXS58x {
	padding: 0 !important;
	height: 25px !important;
	width: var(--ServerSize) !important;
	left: 5px !important;
	top: calc(15px + var(--ServerSize)) !important;
}

.panels-j1Uci_>.container-3baos1 {
	border-radius: 0 5px 0 0 !important;
}

.tutorialContainer-SGrQ1h+.listItem-2P_4kh {
	margin: 10px 5px 0 5px !important;
}